body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#app {
    width: 100%;
    max-width: 600px;
    padding: 10px;
}

#pitch-container {
    position: relative;
    width: 90%; /* Set pitch container width to 90% of the screen */
    padding-top: 130%;
    margin: auto;
}

#pitch {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: green;
    border: 1px solid white;
}

/* Center Circle */
.center-circle {
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    width: 10%; /* Adjust size as needed */
    height: 10%; /* Adjust size as needed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Halfway Line */
.halfway-line {
    position: absolute;
    width: 100%;
    height: 2px; /* Line width */
    background-color: white;
    top: 50%;
    left: 0;
}

/* Penalty Area (Top) */
.penalty-area-top {
    position: absolute;
    width: 50%; /* Adjust according to your requirement */
    height: 15%; /* Adjust according to your requirement */
    border: 2px solid white;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Penalty Area (Bottom) */
.penalty-area-bottom {
    position: absolute;
    width: 50%; /* Adjust according to your requirement */
    height: 15%; /* Adjust according to your requirement */
    border: 2px solid white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Goal Area (Top) */
.goal-area-top {
    position: absolute;
    width: 35%; /* Adjust according to your requirement */
    height: 5%; /* Adjust according to your requirement */
    border: 2px solid white;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Goal Area (Bottom) */
.goal-area-bottom {
    position: absolute;
    width: 35%; /* Adjust according to your requirement */
    height: 5%; /* Adjust according to your requirement */
    border: 2px solid white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#controls {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

#players-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.player-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: grab;
    user-select: none;
    position: relative;
}

.player-circle.goalkeeper {
    background-color: lightgreen;
}

input[type="text"] {
    width: 80%;
    border: none;
    background: none;
    text-align: center;
    font-size: 12px;
}

@media (max-width: 600px) {
    .player-circle {
        width: 40px;
        height: 40px;
    }
}
